@model HTTP5101_Cumulative_Project.Models.Student
@{
    ViewBag.Title = "New";
}

<h2>Add Student</h2>

<div id="containershow">
    <nav class="my-2">
        <a class="btn btn-secondary navlink" href="/Student">Back To Students</a>
    </nav>
    <form method="POST" action="/Student/Create">
        <div class="inputrow my-2">
            <label for="StudentFName">First Name:</label>
            <input type="text" id="StudentFName" name="StudentFName" />
        </div>
        <div class="inputrow my-2">
            <label for="StudentLName">Last Name:</label>
            <input type="text" id="StudentLName" name="StudentLName" />
        </div>
        <div class="inputrow my-2">
            <label for="StudentNumber">Student Number:</label>
            <input type="text" id="StudentNumber" name="StudentNumber" />
        </div>
        <div class="inputrow my-2">
            <input class="btn btn-primary" type="submit" value="Create Student" />
        </div>
    </form>
</div>

