@model HTTP5101_Cumulative_Project.Models.Teacher
@{
    ViewBag.Title = "New";
}

<h2>Add Teacher</h2>

<div id="containershow">
    <nav class="my-2">
        <a class="btn btn-secondary navlink" href="/Teacher">Back To Teachers</a>
    </nav>
    <form method="POST" action="/Teacher/Create">
        <div class="inputrow my-2">
            <label for="TeacherFName">First Name:</label>
            <input type="text" id="TeacherFName" name="TeacherFName" />
        </div>
        <div class="inputrow my-2">
            <label for="TeacherLName">Last Name:</label>
            <input type="text" id="TeacherLName" name="TeacherLName" />
        </div>
        <div class="inputrow my-2">
            <label for="EmployeeNumber">Employee Number:</label>
            <input type="text" id="EmployeeNumber" name="EmployeeNumber" />
        </div>
        <div class="inputrow my-2">
            <label for="Salary">Salary:</label>
            <input type="number" min="0" step="0.01" value="0.00" id="Salary" name="Salary"/>
        </div>
        <div class="inputrow my-2">
            <input class="btn btn-primary" type="submit" value="Create Teacher" />
        </div>
    </form>
</div>